<div>
    <div class="col-md-2">
        <i class="fa fa-book fa-5x"></i>
        <h5>{{vm.currentBook.name}} <span class="text text-info small">{{vm.currentBook.author}}</span></h5>
    </div>
    <div class="col-md-5">
        <div class="well" ng-repeat="comment in vm.currentBook.comments">
            <div class="text">
                {{comment.content}}
            </div>

            <div class="text text-right small text-info">by <a ng-href="#/{{comment.userName}}/books">{{comment.userName}}</a> at {{comment.createdAt | date:'hh:mm on MMM, dd yyyy'}}</div>
        </div>
    </div>
    <div class="well well-lg col-md-3">
            <form name="newCommentForm" class="form-horizontal" ng-submit="vm.addComment()">
                <div class="form-group">
                    <label>Add Comment</label>
                    <textarea class="form-control" name="content" id="content" cols="250" rows="3" ng-model="vm.newComment.content" required>
                        
                    </textarea>
                </div>
                <div class="form-group text-right">
                    <input class="btn btn-md btn-success" type="submit" ng-disabled="newCommentForm.$invalid" value="Go"/>
                </div>
            </form>
        </div>
</div>