<div>
    <div class="alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <form  name="newUserForm" novalidate ng-submit="vm.addUser()">
        <div class="form-group">
            <label>User Name :</label>
            <input class="form-control" 
                    id="UserName"
                    name="UserName"
                    required
                    ng-model="vm.newUser.UserName"/>
            <span class="text-danger" ng-show="newUserForm.UserName.$error.required">This field is required!</span>
        </div>
        <div class="form-group">
            <label>First Name :</label>
            <input class="form-control" 
                    id="FirstName"
                    name="FirstName"
                    required
                    ng-model="vm.newUser.FirstName"/>
            <span class="text-danger" ng-show="newUserForm.FirstName.$error.required">This field is required!</span>
        </div>
        
        <div class="form-group">
            <label>Last Name :</label>
            <input class="form-control" 
                    id="LastName"
                    name="LastName"
                    required
                    ng-model="vm.newUser.LastName"/>
            <span class="text-danger" ng-show="newUserForm.LastName.$error.required">This field is required!</span>
        </div>
        
        <div class="form-group">
            <label>Email :</label>
            <input class="form-control" 
                    id="Email"
                    name="Email"
                    required
                    ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                    ng-model="vm.newUser.Email"/>
            <span class="text-danger" ng-show="newUserForm.Email.$error.required">This field is required!</span>
            <span class="text-danger" ng-show="newUserForm.Email.$error.pattern">Wrong Email format!</span>
        </div>
        
        <div class="form-group">
            <label>Password :</label>
            <input class="form-control" 
                    id="Password"
                    type="password"
                    name="Password"
                    required
                    ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/"
                    ng-model="vm.newUser.Password"/>
            <span class="text-danger" ng-show="newUserForm.Password.$error.required">This field is required!</span>
            <span class="text-danger" ng-show="newUserForm.Password.$error.pattern">Password should contain at least 8 characters, 1 uppercase, 1 lower case and 1 letter!</span>
        </div>
        
        <div class="form-group">
            <input class="btn btn-lg btn-success" type="submit" value="Register" ng-disabled="newUserForm.$invalid"/>
        </div>
        
    </form>
</div>