@model Sharebook.ViewModels.ChangePasswordViewModel
<div class="col-md-offset-1 col-md-10">
    <fieldset>
        <legend>Change Password</legend>
        <form novalidate class="form-horizontal" method="POST">
            <div class="text text-danger" asp-validation-summary="ValidationSummary.ModelOnly"></div>
            <div class="form-group">
                <label>Old Password:</label>
                <input class="form-control" asp-for="OldPassword" type="password"/>
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <div class="form-group">
                <label>New Password:</label>
                <input class="form-control" asp-for="NewPassword" type="password"/>
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <label>Confirm new Password:</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-lg btn-success" type="submit" value="Submit"/>
            </div>
        </form>    
    </fieldset>
</div>