<!doctype html>
<head>  
    <title>The Sharebook</title>
</head>
<body>
    <div>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a ref="#">About</a></li>
            <li><a ref="#">Contact</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
    