<!doctype html>
<html>
<head>
    <title>The Sharebook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Sharebook</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a asp-controller="Home" asp-action="About">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    
    <div id="wrapper" class="col-md-6 col-md-offset-3">
           
        @RenderBody()
           
    </div>
    
    <footer class="navbar navbar-default navbar-fixed-bottom">
        <p class="text-center text-info">&copy; 2016 - ShareBook</p>
    </footer>
</body>
@RenderSection("Scripts", required: false)
</html>     
