<!doctype html>
<html>
<head>
    <title>The Sharebook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Sharebook</a>
            </div>
            <div class="collapse navbar-collapse">
                @{if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-left">
                           
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                             <li><a href="#" id=""></a></li>
                            <li class="dropdown" id="newComment" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><i class="fa fa-comment text-success"></i></a>
                                <ul class="dropdown-menu" role="menu" id="commentNotif"></ul>
                            </li>
                            <li class="dropdown" id="emptyComment">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comment-o text-success"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="text text-center">no new Comments on my books</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="userNav" role="button" aria-expanded="false">Actions <span class="caret"></span> </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a><i class="fa fa-user"></i> My Account</a> </li>
                                    <li><a asp-action="ChangePassword" asp-controller="Auth"><i class="fa fa-lock"></i> Change Password</a> </li>
                                    <li><a asp-action="Logout" asp-controller="Auth"><i class="fa fa-power-off"></i> Logout</a> </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-action="Login" asp-controller="Auth">Login</a></li>
                            <li><a asp-action="Register" asp-controller="Auth">Register</a></li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    
    <div class="row">
        @if(User.Identity.IsAuthenticated){
        <div class="col-md-2">
            <div class="list-group">
                <a class="list-group-item active" href="#/">
                    <span class="badge"></span>
                    My Books
                </a>
                <a class="list-group-item" href="#/messages">
                    <span class="badge" id="messagesBadge" ></span>
                    Messages
                </a>
                <a class="list-group-item" active>
                    <span class="badge"></span>
                    Find books 
                </a>
            </div>
        </div>
        }
        <div id="wrapper" class="col-md-10">

            @RenderBody()

        </div>
    </div>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <p class="text-center text-info">&copy; 2016 - ShareBook</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @if(User.Identity.IsAuthenticated){
        <script src="~/js/loadUser.js"></script>
    }
</body>
@RenderSection("Scripts", required: false)
</html>     
